{
  "maintenance_window": {
    "start_time": {{ item.1.start | mandatory | to_json }},
    "end_time": {{ item.1.end | mandatory | to_json }},
    "description":  {{ item.1.description | default(item.0.description) | default('') | to_json }},
    "service_ids": {{ item.0.service_ids | mandatory | to_json }}
  }
{% if item.0.requester_id is defined %}
  ,
  "requester_id": {{ item.0.requester_id | to_json }}
{% endif %}
}
